.container {
	max-width: 77rem;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;

	// @media (max-width: $vp-tablet) {
	// 	padding: 0 2.5rem;
	// }

	// @media (max-width: 31.25rem) {
	// 	padding: 0 1rem;
	// }
}
