*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

body {
	background-color: $black;
	color: $white;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	font-family: $involve;
	min-height: 100vh;
	max-width: 100vw;
	padding: 0;
	flex-grow: 1;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}

a {
	text-decoration: none;
	cursor: pointer;
}

svg {
	flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
}

footer {
	margin-top: auto;
}
