// colors

$black: #0c0d12;
$white: #ffffff;
$dark-blue: #161524;
$deep-dark-blue: #1b1a2c;
$pink-light: #f706a3;
$blue-light: #5a73ef;
$aquamarine: #81f3f8;
$pink: #ca0078;

// typography

$rem-075: 0.75rem; // 12px
$rem-1: 1rem; // 16px
$rem-15: 1.5rem; // 24px
$rem-187: 1.87rem; // 30px
$rem-225: 2.25rem; // 36px
$rem-275: 2.75rem; // 44px
$rem-325: 3.25rem; // 52px
$rem-5: 5rem; // 80px
$rem-562: 5.62rem; // 90px
$rem-75: 7.5rem; // 120px

// fonts
$evolventa: 'Evolventa', 'Arial', sans-serif;
$involve: 'Involve', 'Arial', sans-serif;

// viewport

$vp-tablet: 63.93rem;
$vp-mobile: 47.93rem;

// transition

$transition-300: ease-in 0.3s;
