.advantages {
	&__main-wrapper {
		padding: 4rem 0 5.25rem;
		@include flexCenter(column, center, unset);
		gap: 6rem;

		@media (max-width: $vp-mobile) {
			padding: 2.6rem 0 4rem;
			gap: 1.5rem;
		}
	}

	&__text-wrapper {
		@include flexCenter(column, center, unset);
		gap: 2.5rem;
		position: relative;

		@media (max-width: $vp-mobile) {
			gap: 1rem;
		}
	}

	&__title {
		font-size: $rem-5;
		font-weight: 500;
		line-height: 90%;
		letter-spacing: 0.02em;
		text-align: center;

		max-width: 57.87rem;

		@media (max-width: 62.5rem) {
			font-size: $rem-375;
		}

		@media (max-width: $vp-mobile) {
			font-size: $rem-225;
			max-width: 20.62rem;
		}
	}

	&__description {
		font-size: $rem-15;
		line-height: 110%;
		font-family: $evolventa;
		text-align: center;

		max-width: 42.43rem;

		@media (max-width: 62.5rem) {
			font-size: $rem-1;
		}

		@media (max-width: $vp-mobile) {
			max-width: 20.62rem;
		}
	}

	&__highlight-text {
		color: $pink;
	}

	&__pseudo-text {
		position: absolute;
		top: 60%;
		z-index: -1;
		width: 85vw;

		@media (max-width: 64rem) {
			top: -86%;
			width: 97vw;
		}

		@media (max-width: $vp-mobile) {
			top: -74%;
		}
	}

	&__cards-block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.87rem;

		@media (max-width: $vp-mobile) {
			grid-template-columns: 1fr;
			gap: 0.93rem;
		}
	}
}
