.card {
	background-color: $dark-blue;
	border-radius: 1.12rem;
	min-height: 20.75rem;
	max-width: 28.12rem;
	padding: 1.87rem 1.87rem 1.87rem 1.87rem;

	@media (max-width: 25rem) {
		min-height: 12.25rem;
		max-width: 18.75rem;
		padding: 1.31rem 1.31rem 1.31rem 1.31rem;
	}

	&__main-wrapper {
		@include flexStart(column, flex-start);
		gap: 1.5rem;

		@media (max-width: 25rem) {
			gap: 1.12rem;
		}
	}

	&__title {
		font-size: $rem-15;
		line-height: 110%;
		color: $white;
		font-weight: 400;
		font-family: $evolventa;

		@media (max-width: 25rem) {
			font-size: $rem-1;
		}
	}

	&__description {
		font-size: $rem-1;
		line-height: 110%;
		font-family: $evolventa;

		@media (max-width: 25rem) {
			font-size: $rem-075;
		}
	}
}
