.custom-form {
	@include flexCenter(column, center, unset);
	gap: 1.87rem;

	@media (max-width: $vp-mobile) {
		gap: 0.93rem;
	}

	&__submit-btn {
		width: 100%;

		@media (max-width: $vp-mobile) {
			padding: 0.56rem 0.56rem;

			font-size: $rem-1;
		}
	}
}
