.modal {
	background-color: $dark-blue;
	border-radius: 1.5rem;
	border: unset;
	outline: 3px solid $deep-dark-blue;
	max-width: 43rem;
	min-height: 48rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	pointer-events: none;
	transition: opacity $transition-300;
	$root: &;

	@media (max-width: $vp-mobile) {
		max-width: 17.5rem;
		min-height: 27.56rem;
		border-radius: 0.75rem;
	}

	&__main-wrapper {
		padding: 5.25rem 3.75rem 3.75rem 3.75rem;
		@include flexCenter(column, unset, unset);
		gap: 1.87rem;
		height: 100%;
		position: relative;

		@media (max-width: 64rem) {
			padding: 5rem 3rem 5rem 3rem;
		}

		@media (max-width: $vp-mobile) {
			padding: 3rem 1.5rem 0.93rem 1.5rem;
			gap: 0.93rem;
		}
	}

	&__info-wrapper {
		@include flexCenter(column, center, unset);
		gap: 1.87rem;

		@media (max-width: $vp-mobile) {
			gap: 0.93rem;
		}
	}

	&__close-btn {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 1.87rem;
		right: 2.5rem;

		#{$root}__close-btn-first-line {
			transform: rotate(45deg);
		}

		#{$root}__close-btn-second-line {
			transform: rotate(-45deg);
		}

		@media (max-width: $vp-mobile) {
			width: 1.5rem;
			height: 1.5rem;

			top: 0.93rem;
			right: 0.93rem;
		}
	}

	&__close-btn-first-line,
	&__close-btn-second-line {
		width: 100%;
		height: 1px;
		display: block;
		background-color: $white;
	}

	&__text-wrapper {
		@include flexCenter(column, center, unset);
		gap: 0.75rem;
	}

	&__title {
		font-size: $rem-275;
		font-weight: 400;
		line-height: 110%;
		text-align: center;

		@media (max-width: $vp-mobile) {
			font-size: $rem-187;
		}
	}

	&__description {
		font-family: $evolventa;
		font-size: $rem-15;
		line-height: 110%;
		text-align: center;

		@media (max-width: $vp-mobile) {
			font-size: $rem-1;
		}
	}

	&__img {
		scale: 1.3;

		@media (max-width: $vp-mobile) {
			scale: 1.1;
		}
	}

	&--show {
		opacity: 1;
		pointer-events: all;
	}
}
